:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    
    --primario: #c7f9f9;
    --secundario: #efc7f9;
    --blanco: #ffffff;
    --gris: #373e43;
    --grisOscuro: #30363a;
    --negro: #000000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2; /*Interlineado para el blog*/
    background-color: var(--gris);
}

/** Globales **/
.contenedor {
    width: min(90%,120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.1;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.5rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/**Utilidades**/
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/** Header **/
.header{
    background-image: url(../img/banner.jpg);
}

.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto-h2 {
    color: var(--primario);
}

.header__texto-p {
    font-size: 1.3rem;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 3rem;
    padding: 0 3rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 7rem;
    }
    .header__texto-p{
        font-size: 1.7rem;
    }
}

.barra{
    padding-top: 4rem;
}


@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }
}


.logo {
    color: var(--blanco);
    text-align: center;
}

.logo__nombre {
    font-weight: 400;
}

@media (min-width: 768px) {
    .logo {
        display: flex;
        align-items: center;
    }
    .logo__nombre {
        font-weight: 400;
    }
}

.logo__imagen {
    max-width: 100%;
    display: inline-block;
}

.logo__bold {
    font-weight: 700;
}

/** Nav **/

.navegacion {
    margin-top: 2rem;
}

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
    .navegacion__enlace {
        margin: 0 auto;
        font-size: 1.8rem;
        color: var(--blanco);
    }
}

/** Footer **/

.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/**  Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr); /*1fr 1fr*/
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3,1fr); /*1fr 1fr*/
    }
}


/** Productos **/

.titulo__producto {
    text-align: center;
    font-family: var(--fuenteHeading);
    background-image: linear-gradient(43deg, var(--secundario) 0%, var(--blanco)  30%, var(--primario)  100%);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 4px 2.5px 0 #00000049;
}

.producto {
    background-color: var(--grisOscuro);
    padding: 1rem;
}

.producto__imagen {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.producto__nombre {
    font-size: 2rem;
    color: var(--blanco);
}

.producto__precio {
    font-size: 1.7rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Nosotros **/

.titulo__nosotros {
    text-align: center;
    font-family: var(--fuenteHeading);
    background-image: linear-gradient(43deg, var(--secundario) 0%, var(--blanco)  30%, var(--primario)  100%);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 4px 2.5px 0 #00000049;
}

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin: 0 auto;
}

.nosotros__contenido {
    color: var(--blanco);
    font-size: 1.7rem;
    text-shadow: 0.1rem 0.5rem 4px var(--negro);
}

@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
    max-width: 100%;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        display: block;
        height: auto;
        margin: 0 auto;
        grid-column: 2 / 3;
    }
}

.nosotros__contenido .copyright {
    font-size: 1.2rem;
    text-shadow: none;
}

/** Contacto **/
.titulo__contacto {
    text-align: center;
    font-family: var(--fuenteHeading);
    background-image: linear-gradient(43deg, var(--secundario) 0%, var(--blanco)  30%, var(--primario)  100%);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 4px 2.5px 0 #00000049;
}

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario{
    background-color: var(--grisOscuro);
    margin: -25rem auto 17rem auto;
    width: 95%;
    padding: 3rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .formulario{
        margin: -10rem auto 17rem auto;
    }
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 8rem;
    text-align: right;
    padding-right: 2rem;
    color: var(--blanco);
}

.campo__field {
    flex: 1; /*Toma todo el espacio que no use .campo__label*/
    border: 1px solid var(--gris);
    color: var(--negro);
    border: 1px solid var(--blanco);
}

.campo__field--textarea{
    height: 20rem;
}

/** Botones **/

.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}

.boton--primario{
    background-color: var(--negro);
}

.boton--secundario{
    background-color: var(--primario);
}
